* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #0b0f19;
  color: #ffffff;
  line-height: 1.6;
}

/* NAVBAR */
header {
  background: #0b0f19;
  padding: 20px 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #00e5ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.nav-links a:hover {
  color: #00e5ff;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.hero h1 {
  font-size: 48px;
}

.hero h2 {
  color: #00e5ff;
  margin: 10px 0;
}

.hero p {
  max-width: 500px;
  margin: 20px 0;
}

.hero-buttons .btn {
  padding: 10px 20px;
  margin-right: 15px;
  text-decoration: none;
  border-radius: 5px;
}

.primary {
  background: #00e5ff;
  color: #000;
}

.secondary {
  border: 1px solid #00e5ff;
  color: #00e5ff;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
}

.section h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.dark {
  background: #06090f;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skill-card {
  background: #0b0f19;
  padding: 20px;
  border-radius: 10px;
}

.skill-card h4 {
  color: #00e5ff;
  margin-bottom: 10px;
}

/* PROJECTS */
.project-card {
  background: #06090f;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  background: #000;
}
